<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>

    <style>
    .page-title,
    .page-footer {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
    }

    .page-title  { top: 32px;  font-size: 1.75rem; font-weight: 700; }
    .page-footer { bottom: 24px; font-size: .9rem; color: #2f2f2f; }
  </style>

  </head>
  <body>
    <header>
      <h1 class="page-title">Admin Panel</h1>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer>
      <p class="page-footer">&copy; 2025 Your App</p>
    </footer>
  </body>
</html>